body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

.row {
    width: inherit;
    height: inherit;
}

.container2 {
    position: relative;
    text-align: left;
    color: white;
}

.carousalImg {
    object-fit: cover;
    height: 100vh;
}

.carousel-caption {
    text-align: start !important;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 3%;
}

.maintxt {
    font-size: 3vw;
    margin: 0;
}

.contenttxt {
    font-size: 1vw;
}

.loginForm {
    justify-content: space-around;
    flex-direction: column;
}

.mainForm {
    margin: auto;
}

.loginlabel {
    margin-top: 1em;
}

.form-control {
    height: 2.5em;
    margin-top: 0.3em;
    text-indent: 0.7em;
    width: 25vw !important;
}

label {
    font-size: 1em;
}

.loginbtn {
    margin-top: 4.5vh !important;
    width: 25vw !important;
    text-align: center !important;
    height: 2.2em !important;
    border-radius: 18px !important;
    color: #F88634 !important;
    border: 2px solid #F88634 !important;
}

.forgetpasspage {
    margin-top: 3vh !important;
    text-align: center !important;
    font-size: 1em;
    width: 25vw !important;
}

.forgetpasslink {
    color: #414141 !important;
    text-decoration: none;
}


.register {
    margin-top: 1.5vh !important;
    text-align: center !important;
    color: #414141;
    font-size: 1em;
    border: none !important;
}

#registerlink {
    text-decoration: none;
}

.loginForm .text-center {
    padding-bottom: 5%;
}

#privacytxt {
    color: #414141 !important;
    text-decoration: none;
}

@media (max-width : 993px) {
    .loginForm {
        margin-top: 10vh !important;
    }

        .loginForm .text-center {
            padding-top: 5vh;
        }

    .carousalImg {
        object-fit: inherit !important;
        height: auto !important;
    }

    .form-control {
        width: 100% !important;
    }

    .forgetpasspage {
        width: 100% !important;
    }

    .contenttxt {
        display: none;
    }
}

@media (max-width : 768px) {

    .carousel-caption p {
        display: none;
    }
} 
