.missionIMG {
    object-fit: cover !important;
    height: 90%;
}


.details
{
    display: flex;
    flex-direction: column;
}

.shortdetail{
    font-size: 1em;
}


.goalORtime {
    width: max-content !important;
    border: 1px solid gray;
    border-radius: 20px;
    translate: 0 90%;
    background-color: white;
    z-index: 2;
}

    .goalORtime div {
        height: 2.5em !important;
        display: flex;
        align-items: center;
    }

.favorite .btn {
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 1em;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-box-shadow: transparent;
}


.rating-stars {
    width: max-content !important;
    border-radius: 20px;
    translate: 0 -90%;
    background-color: white;
    z-index: 2;
}

    .rating-stars div {
        height: 2em !important;
        display: flex;
        align-items: center;
    }



.mission-info{
    border: 1px solid grey;
    aspect-ratio: 1 / 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    max-width: 140px;
}

    .mission-info .text-secondary
    {
        font-size: 13px;
    }

    .star {
        margin-right: 0.2em;
    }

.apply {
    display: flex;
    justify-content: center;
}

.apply-btn {
    border: 1px solid #F88634 !important;
    color: #F88634 !important;
    border-radius: 20px !important;
    width: 10em;
}

.relatedMissions{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}

/*---------------------------- Related mission -----------------------------------------------*/


.mission {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0.05);
    transition: all 0.2s ease-out;
}

.gridctnr {
    grid-template-columns: auto auto;
}

    .gridctnr img {
        grid-row: 1 / 3 !important;
    }

.timeline {
    font-size: 0.8em;
    width: fit-content !important;
    border: 1px solid gray;
    border-radius: 20px;
    translate: 0 50%;
    background-color: white;
}

.timeline {
    font-size: 0.8em;
    width: fit-content !important;
    border: 1px solid gray;
    border-radius: 20px;
    translate: 0 50%;
    background-color: white;
}

.ratingclass {
    display: flex;
    justify-content: space-between;
}



/*---------------------------- Related mission -----------------------------------------------*/

/*----------------------------- NavTabs ---------------------------------*/


#myTab .nav-item {
    font-size:1em;
    font-weight: 600;
}

#myTab {
    border-bottom: 1px solid #c6c6c6 !important;
    --bs-nav-link-hover-color: none;
}

    .nav-tabs .nav-link {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
        color: #676767;
    }


    .nav-tabs .active {
        border-bottom: 2px solid #414141 !important;
        color: #414141 !important;
    }


/*------------------------- NavTabs ---------------------------------------------*/

.comment-btn {
    border: 1px solid #F88634 !important;
    margin-top: 1em;
    border-radius: 20px !important;
    color: #F88634 !important;
}

.doc-btn{
    display: flex !important;
    justify-content: space-around;
    min-width: fit-content !important;
    border-radius: 20px !important;
}

.comment-sec{
    background-color: #f2e8ac;
    overflow-y: scroll;
    height: 400px;
}

.com-card{
    margin-top: 1em;
    display: grid !important;
    grid-template-columns: 10% 90% !important;
    grid-template-rows: auto auto;
    align-content: center;
}

.com-img {
    display: flex;
    align-items: center;
}

.com-card .card-img-top{
    padding: 0.5em;
    border-radius: 50%;
    grid-row: 1 / span 2;
    justify-content: center;
    height: inherit;
}

.com-txt{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.7em;

}



.info-div {
    border: 1px solid #c6c6c6 !important;
        
}

.babubhaiya{
    font-size: 14px;
}




.recent-vol-div {
    margin-top: 1.5em;
    border: 1px solid #c6c6c6 !important;
}

.volunteer-grid
{
    display: grid;
    grid-template-columns: auto auto auto !important;
    grid-template-rows: auto auto auto !important;
    gap: 0.5em !important;
}

.volunteer
{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    font-size:13px;

}

.volunteer img{
    border-radius: 50%;
    height: 100% !important;
    width: 100% !important;
}

.pagination {
    justify-content: center;
    margin: 0;
    border-radius: 0;
}

.pagination .page-link
{
    color: #676767;
}

.pagination .page-link:hover {
    color: #676767;
}

.page-item:first-child .page-link
{
    border-radius: 0 !important;
    border-left: 0;
    border-bottom: 0;
}

.page-item:last-child .page-link {
    border-radius: 0 !important;
    border-right: 0;
    border-bottom: 0;
}








@media (max-width: 992px) {
    .relatedMissions{
        grid-template-columns: repeat(2,1fr)
    }

    .doc-btn
    {
        justify-content: space-evenly
    }
    .doc-btn img{
        justify-self: end;
    }
}

@media (max-width: 576px) {
    .relatedMissions {
        grid-template-columns: repeat(1,1fr)
    }
}